{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block body %}

<section class="section section-lg bg-default text-center">
  <div class="container container-wide">
    <div class="row row-fix row-50 row-custom-bordered">
      <div class="col-sm-6 col-lg-4">
        <article class="box-simple">
          <div class="box-simple-icon novi-icon mdi mdi-map-marker"></div>
          <h6>{% trans 'Address' %}</h6>
          <div class="box-simple-text"><a href="#">30N Gould Street, Ste R, Sheridan, <br> 82801, WY, USA</a></div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-simple">
          <div class="box-simple-icon novi-icon mdi mdi-email-open"></div>
          <h6>e-mail</h6>
          <div class="box-simple-text">
            <ul class="list-comma list-0">
              <li><a href="mailto:support@welcometosafari.com">support@welcometosafari.com</a></li>
            </ul>
          </div>
        </article>
      </div>
      <div class="col-sm-6 col-lg-4">
        <article class="box-simple">
          <div class="box-simple-icon novi-icon mdi mdi-calendar-clock"></div>
          <h6>{% trans 'opening hours' %}</h6>
          <div class="box-simple-text">
            <ul class="list-0">
              <li>Mon–Fri: 9:00 am–6:00 pm</li>
              <li>Sat–Sun: 11:00 am–4:00 pm</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="section section-wrap bg-gray-lighter novi-background bg-cover">
  <div class="section-wrap-inner">
    <div class="container container-bigger">
      <div class="row row-fix row-50">
        <div class="col-lg-8 col-xl-7">
          <div class="section-wrap-content section-lg">
            <h3>Contact us</h3>
            <hr class="divider divider-left divider-secondary">
            <p class="big">
              {% blocktrans %} You can contact us any way
              that is convenient for you. We are available 24/7 via whatsapp or
              email. You can also use a quick contact form below or visit our
              office personally. {% endblocktrans %}
            </p>
            <br>

            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
              {% endfor %}
            {% endif %}

            <style>
                /* CSS pour styliser la bordure rouge et le message d'erreur */
                .recaptcha-container {
                    border: 1px solid transparent; /* Bordure transparente par défaut */
                    padding: 5px; /* Un peu d'espace autour du CAPTCHA */
                    display: inline-block; /* Pour que la bordure n'occupe pas toute la largeur */
                }

                .recaptcha-container.error {
                    border-color: red; /* Bordure rouge quand il y a une erreur */
                }

                .recaptcha-error-message {
                    color: red;
                    font-size: 0.9em;
                    margin-top: 5px;
                    display: none; /* Caché par défaut */
                }
            </style>

            <form id="myForm" action="{% url 'contacts' %}" method="post">
                <script src="https://www.google.com/recaptcha/api.js" async defer></script>

                {% csrf_token %}
                <div class="row row-fix row-20">
                  <div class="col-md-6">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-name">{% trans 'First name' %}<span style="color: red;"> *</span></label>
                      <input class="form-input" id="form-1-name" type="text" name="name" Required/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-last-name">{% trans 'Last name' %}<span style="color: red;"> *</span></label>
                      <input class="form-input" id="form-1-last-name" type="text" name="last-name" Required/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-email">E-mail<span style="color: red;"> *</span></label>
                      <input class="form-input" id="form-1-email" type="email" name="email" Required/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-phone">{% trans 'Phone' %}<span style="color: red;"> *</span></label>
                      <input class="form-input" id="form-1-phone" type="text" name="phone" Required/>
                    </div>
                  </div>
                  <div class="col-sm-12">
                      <div class="form-wrap form-wrap-validation">
                          <label class="form-label-outside" for="form-1-object">{% trans 'Object' %}<span style="color: red;"> *</span></label>
                          <input class="form-input" id="form-1-object" type="text" name="object" Required/>
                      </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="form-wrap form-wrap-validation">
                      <label class="form-label-outside" for="form-1-message">Message<span style="color: red;"> *</span></label>
                      <textarea class="form-input" id="form-1-message" name="message" Required/></textarea>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-button">
                        <div class="recaptcha-container" id="recaptchaContainer">
                            <div class="g-recaptcha" data-sitekey="6LcqFlkrAAAAAB-6jEKHAYDtA0bNvnULT4muecc-" data-callback="recaptchaCallback"></div>
                        </div>
                        <div class="recaptcha-error-message" id="recaptchaErrorMessage">
                            Please check the box "I am not a robot".
                        </div>
                    </div>
                  </div>

                  <div class="col-sm-12 offset-custom-1">
                    <div class="form-button">
                      <button class="button button-secondary button-nina" type="submit">{% trans 'send message' %}</button>
                    </div>
                  </div>
                </div>
            </form>

            <script>
                document.getElementById('myForm').addEventListener('submit', function(event) {
                    const recaptchaResponse = grecaptcha.getResponse();
                    const recaptchaContainer = document.getElementById('recaptchaContainer');
                    const recaptchaErrorMessage = document.getElementById('recaptchaErrorMessage');

                    if (recaptchaResponse.length === 0) {
                        event.preventDefault(); // Empêche l'envoi du formulaire

                        // Ajoute la classe 'error' pour la bordure rouge
                        recaptchaContainer.classList.add('error');
                        // Affiche le message d'erreur
                        recaptchaErrorMessage.style.display = 'block';

                        // Défiler jusqu'au CAPTCHA
                        recaptchaContainer.scrollIntoView({ behavior: 'smooth', block: 'center' });
                    } else {
                        // Si le reCAPTCHA est rempli, assurez-vous que la bordure rouge et le message sont retirés
                        recaptchaContainer.classList.remove('error');
                        recaptchaErrorMessage.style.display = 'none';
                    }
                });

                // Fonction appelée par reCAPTCHA quand il est complété
                window.recaptchaCallback = function() {
                    const recaptchaContainer = document.getElementById('recaptchaContainer');
                    const recaptchaErrorMessage = document.getElementById('recaptchaErrorMessage');
                    recaptchaContainer.classList.remove('error');
                    recaptchaErrorMessage.style.display = 'none';
                };
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
